.regent {
  color: #888888;
  font-size: 64px;
  line-height: 81.79px;
}

.growth {
  color: #f4f2f3;
  font-size: 64px;
  line-height: 81.79px;
}

.scroller1 {
  width: 100%;
  height: 100vh;
  background: #343235;
  display:flex;
  flex-direction:column;
}

.rg1 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rg2 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rg3 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}



