/* .paraset {
  width: 100%;
  height: 100vh;
} */

.cont5 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items:center;
  background: #F4F2F3;
}

.strt1 {
  width: 466px;
  line-height: 28px;
  margin-right: 120px;
  font-size: 20px;
  font-family: "Montserrat";
  font-weight: 400;
}

.strt2 {
  text-align: start;
  width: 494px;
  top: 0;
  margin: 0;
  font-size: 80px;
  line-height: 88px;
  font-family: "Montserrat";
  font-weight: 700;
}
